body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;  
}

p{
    padding-left: 20px;
    padding-bottom: 40px;
}


.showcase{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    
}

.showcase img{
    width: 100%;
    border: 1px solid white;
    border-radius: 25px;
}

.mid-banner{
    background-image: url(images/shapes/7.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


h1{
    font-size: 50px;
    padding-top: 5%;

}

.center{
    color: rgb(61, 63, 52);
    text-align: center;
    font-size: 40;
}
.Order_portion{
    width: 50%;
    padding-left: 10%;    
}

.Order_portion img{
    width: 80%;
    margin-top: 5%;

}

.button{
    text-decoration: none;
    color: aliceblue;
    background-image:linear-gradient(rgb(209, 250, 147), rgb(0, 90, 0));
    
    padding: 15px 40px;
    border-radius: 30px;    
}

.green{
    color:green;
}

#food{
    border: 10px solid wheat;
}



.recipe{
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin: 30px;
    padding: 10px;
    box-shadow: 5px 5px 40px rgb(100, 100, 100);
}


footer{
    background-color: rgb(17, 14, 14);
    padding-bottom: 100px;
    padding-top: 100px;
}
small{
    padding-top: 70px;
    margin-left: 35%;
    color: white;
}