body{
    font-family: 'Poppins', sans-serif;
    margin: 0px;  
}

p{
    padding-left: 20px;
    padding-bottom: 40px;
}

section{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}

.mid-banner{
    background-image: url(images/shapes/7.png);
    background-size: 100%;
    background-repeat: no-repeat;
}


h1{
    font-size: 50px;
    padding-top: 8%;

}

.Order_portion{
    width: 50%;
    padding-left: 10%;    
}

.Order_portion img{
    width: 80%;
    margin-top: 5%;

}

.button{
    text-decoration: none;
    color: aliceblue;
    background-image:linear-gradient(rgb(209, 250, 147), rgb(0, 90, 0));
    
    padding: 15px 40px;
    border-radius: 30px;    
}

.green{
    color:green;
}

#food{
    border: 10px solid wheat;
}

h2{
    color: cadetblue;
    text-align: center;
    font-size: 40;
}

.recipe{
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
    margin: 30px;
    padding: 10px;
    box-shadow: 5px 5px 40px rgb(100, 100, 100);
}

h3{
    text-align: center;
}
.showcase{
    display: flex;
    
}

.showcase img{
    width: 100%;
    border: 1px solid white;
    border-radius: 25px;
}
    